.title {
  color: #000;
}

form {
  width: 96%;
  max-width: 500px;
}

input {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 1.2rem;
}

input:focus {
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: var(--primary-color);
  box-shadow: 1px 1px 5px #000;
}

.btnDelTask {
  background-color: var(--danger-color);
}

button:active {
  box-shadow: none;
}

.error {
  color: red;
  font-size: 0.8rem;
}

.inputError {
  border: 1px solid red;
}

@media screen and (min-width: 768px) {
}
